* {
    font-family: Times New Roman;
}

body {
    background-image: url(https://ciberseguridad.blog/content/images/2018/02/notificaci-n_violaciones_de_seguridad.jpg);
    background-repeat: no-repeat,repeat;
    background-position:center;
    background-size: cover;
    margin: 0px;
    padding: 0px;
    background-color: black;
}


header {
    position: fixed;
    font-family: Copperplate Gothic;
    border-radius: 0%;
    border: solid 3px white;
    height: 140px;
    width: 98.7%;
    line-height: 30px;
    /*separacion*/
    text-align: center;
    color: aqua;
    /* color de letra */
    background-image: url(https://i.pinimg.com/originals/30/b8/17/30b8174c6f1a07e0af9bcf41fec3a5f5.gif);
    /*background-repeat: no-repeat, repeat;*/
    background-position: center;
    background-repeat: no-repeat,repeat;
    background-size: 993px 140px;
    background-color: none;
    margin-top: -249.6px;
    margin-left: 5px;
    font-size: 30px;
    /* tamaño de letra */
}



.menu ul{
    width: 100.5%;
    display: inline-flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu a{
    width: 110%;
    margin-top: 32.7px;
    margin-left: -1.3%;
    margin-right: 150.8px;
    font: 25px Lato Black;
    color: aqua;
    display: inline-block;
    padding: 3px 0px 5px 0px;
    background-color: #376F8D;
    text-decoration: none;
    text-align: center;
    border: solid 3px white;
}

.menu ul li ul{
    display: none;
}

.menu a:hover{
    background-color: black;
    
}

.menu ul li a:hover + ul, .menu ul li ul:hover{
display: block;
}




#p1 {
    font-family: italic;
    color: white;
    font-size: 20px;
    margin: 0px 20px;
    margin-top: 250px;
}

#p1:hover,
#p2:hover{
    
    background-color: #376F8D;
    border-radius: 0%;
    color:white;
    
    
}

#t1,
#t2 {
    margin-top: 50px;
    font-family: Bahnschrift;
    color: #09E7FF;
    font-size: 35px;
}

#e{
    list-style: disc;
}

#d1,
#d2 {
    margin-top: 10px;
    font-family: italic;
    color: white;
    font-size: 21px;
}

#p2 {
    font-family: italic;
    color: white;
    font-size: 20px;
    margin-top: 260px;
    margin-left: 20px;
    margin-right: 640px;
    margin-bottom: 170px;
}

.derecha {
    width: 500px ;
    height: 318px ;
    float: right;
    margin-right: -600px;
    border: solid 9px white;

}


/*_____________________________________________________________________________________________*/